/* modifiche generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: open sans;
}


/* modifiche header */
header{
  width: 100%;
  height: 13vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}
.container-header{
  width: 70%;
  height: 100%;
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
}
header ul{
  display: flex;
  font-size: 12px;
  list-style: none;
  /* background-color: aqua; */
  height: 100%;
}
header li{
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 0px 8px;
  height: 100%;
  align-items:center;
  cursor: pointer;
  font-weight: bold;
}
.active,
header li:hover{
  color: blue;
  border-bottom: 2px solid blue;
}
header img{
  height: 70%;
}
.logo{
  display: flex;
  align-items: center;
}


/* modifiche main */

/* modifica content main */
.content-main{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15vh;
  background-color: rgb(31, 31, 31);
}
main span{
  color: white;
  font-size: 24px;
}
main article{
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
}

/* modifica baner main */
.baner-main{
  width: 100%;
  height: 18vh;
  background-color: rgb(18, 140, 253);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.baner-main div{
  width: 70%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;

}
.baner-main img{
  height: 35%;
  padding-right: 9px;
}
.baner-main span{
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.visa img{
  height: 25%;
}

/* modifica footer */

/* modifica content footer */
.content-footer{
  width: 100%;
  height: 50vh;
  background-image: url(./public/footer-bg.jpg);
  background-size: 100%;
  display: flex;
  justify-content: center;
}
.comics{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.comics2{
  display: flex;
  gap: 30px;
  color: white;
  padding-top: 10px;
}
h3{
  padding: 14px 0px;
}
.comics2 li{
  list-style: none;
  color: rgb(175, 174, 174);
  padding: 5px 0px;
  font-size: 12px;
}
.comics img{
  height: 125%;
}
.dc-foto{
  margin-top: -100px;
  margin-bottom: 30px;
}

/* modifica banner footer */

.banner-footer{
  width: 100%;
  height: 13vh;
  background-color: rgb(77, 77, 77);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
a{
  text-decoration: none;
  color: white;
}
.footer{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social{
  display: flex;
  align-items: center;
  gap: 10px;
}
.social a{
  color: rgb(39, 114, 255);
  font-weight: bold;
  font-size: 17px;
}
.sign a{
  border: 3px solid rgb(20, 100, 250);
  padding: 10px;
}